body{
	margin: 0px;
}
.logo{
	width: 35%;
}
a:hover{
	color: gray;
}
.home_button{
	color: black;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;
	padding: 60px;
	text-decoration: none;
}
.nav2{
	color: white;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;
	padding: 60px;
	text-decoration: none;
}
a{
	margin-left: 25px;
}
nav{
	background: -webkit-linear-gradient(left, red , gray);
	position: relative;
	padding: 10px;
}
header{
	margin: 50px;
}
.paragraph{
	margin: 50px;
}
p{
	text-indent: 20px;
	color: gray;
}
.content{
	display:block;
	margin: auto;
	height:700px;
}
.image_1{
	width: 30%;
	padding: 50px;
	float: right;
}
.clear{ 
	clear: both;
}
.image_2{
	width: 30%;
	float: right;
	padding: 50px;
}
footer{
 	border:1px solid #bbbbbb;
 	position: relative;
  	bottom:0px;
  	width: 100%;
}
p.copy{
	float: left;
}