body{
	background-image: url("../images/background.jpg");
	border-image: url("../images/stripes.png") 200% 0 0 0 repeat;
	border-width: 10px 0px 0px 0px; 
	border-bottom:0;
	border-left:0;
	border-right:0;
	padding-top: 150px;
	padding-left: 40px;
}
hr{
	border: 1px solid #ccc;	
}
p{
	color: white;
	font-size:12;
	font-family: Arial;
	
}
.btn{
	height: 40px;
	width: 150px;

}