body{
	background-image: url("../images/background.jpg");
	margin:0px;
}
.stripes{
	background-image: url("../images/stripes.png");
	height:10px;
  	width:100%;
}
.content{
	padding-top: 200px;
	padding-left: 150px;
}
hr{
	border-color: red;
	width: 30px;
	margin: 0px;
}
p{
	color: white;
	font-size:12;
	font-family: Arial;
}
.btn{
	height: 40px;
	width: 150px;

}