body{
	background-image: url("../images/background.jpg");
	background-size: 100%
}	
img{
	position: relative;
	width: 500px;
	height: 500px;
}
.nav a:hover {
  color:#ff0202;
  
}
.nav a:active {
  color:#ff0202;
  
}
li{
	display: inline;
	font-family: font-family: 'Poiret One', cursive;
	text-shadow: black;
	margin-right: 20px;
}
ul{
	position: fixed;
	margin-top: 0px;
	top:5px;
	right: 20px;
	font-size:30px;
	font-weight: bold;
}
.text{
	position: absolute;
	top: 80px;
	left:60px;
	font-size:20px;
}
a{
	text-decoration: none;
	color: #024fff;
	font-family: 'Poiret One', cursive;
	text-shadow: 2px 1px #024fff;
}
h1{
	padding-left: 90px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Pacifico', cursive;
	font-size: 30pt;
	color: black;
	text-shadow:4px 2px #f17070;
}
.p1{
	text-indent: 20px;
}
p{
	color:#777474;
	font-family: 'Poiret One', cursive;
	font-size: 14pt;
}